[2018-07-20 20:28] barney-s opened #1 "Create documentation"
Create a docs folder for explaining the design and the Custom Resources.
As well as proposals.

[2018-07-24 06:34] barney-s opened #2 "Add comprehensive e2e tests"
End-to-End(e2e) tests added are BDD test using [gingko](https://github.com/onsi/ginkgo).

#### It(“should create airflow-base mysql and nfs components”)
Step 1: create AirflowBase object with storage and mysql enabled
Step 2: wait for mysql StatefulSet and nfs StatefulSet to become ready
all pods have to be available
Step 3: verify
for mysql, the root password secret should be created
Mysql and nf

[2018-07-24 06:37] barney-s opened #3 "Add an Admission Controller for K8s executor"
Add an Admission controller hooks to:
1. inject DAG sidecar for k8s executor
2. inject DAG sidecar to controller, worker, UI pods

[2018-07-30 08:26] EamonKeane opened #4 "[Question] Redis Required for k8s Executor?"
This looks great. Is redis required for the k8s executor?

[2018-08-02 05:16] barney-s commented on #4
No.
An example:
https://github.com/GoogleCloudPlatform/airflow-operator/blob/master/hack/sample/mysql-k8s/cluster.yaml

[2018-08-02 05:19] barney-s opened #5 "move to kubebuilder 1.0.0"
kubebuilder 1.0 was released.
Plan to move to that version.

[2018-08-02 11:01] EamonKeane commented on #4
Thanks. It'd be nice to have an example showing the workflow for changing a variable in airflow.cfg and re-deploying.

[2018-08-04 07:43] pblaas opened #6 "manifests/install_controller.yaml links to wrong image tag"
Hi,

The image tag in manifests/install_controller.yaml from the example in the readme points to tag alpha which doesn't seem to exist.  Changing this to v1alpha1 seemed to fix this.

[2018-08-04 23:04] barney-s commented on #6
Thanks for pointing out. Fixed via: https://github.com/GoogleCloudPlatform/airflow-operator/commit/c9666959ae56ac583262dbcf7b7c46ba9d37efa7

[2018-08-04 23:04] #6 closed

[2018-08-04 23:08] barney-s commented on #4
The operator doesnt support changing airflow.cfg variables.
We need to add that feature. Will add a feature request for that.

[2018-08-06 17:15] barney-s opened #8 "Expose airflow.cfg config settings via CRs"
possible options:
1. via airflow env variables
2. via airflow.cfg map[string]string stored in config-map

[2018-08-06 17:18] barney-s opened #9 "Restart UI, Scheduler, Workers on detecting new DAGs in the DAG folder"
1. Drain celery workers nodes and k8s executor pods to prepare for restart
2. Restart airflow UI and Scheduler on detecting new DAGs in the DAG folder

[2018-08-06 17:29] barney-s commented on #1
Design, Development Guide, Quick start guide, Readme added via https://github.com/GoogleCloudPlatform/airflow-operator/pull/7

pending: API guide, User guide.

[2018-08-07 20:37] barney-s commented on #4
Created https://github.com/GoogleCloudPlatform/airflow-operator/issues/8 to track this feature request.

[2018-08-07 20:37] #4 closed

[2018-08-09 12:13] EamonKeane opened #10 "Env variables for custom airflow docker images"
Just giving this a spin with my own images and one of the reasons it doesn't currently work for me is that certain env variables (`AIRFLOW__CORE__SQL_ALCHEMY_CONN` and `AIRFLOW__CORE__FERNET_KEY` in particular) are composed in the `entrypoint.sh` as opposed to directly from env vars. It appears the airflow docker image is based on `https://github.com/puckel/docker-airflow`, is that correct? Are th

[2018-08-09 16:29] barney-s commented on #10
Thanks for reaching out. Thats correct. I should have made it explicit in the readme or userguide (pending).
Please refer to my airflow-docker repo which is forked from puckel.

I have a pending task to upstream my changes.

https://github.com/barney-s/docker-airflow

changes:
https://github.com/puckel/docker-airflow/compare/master...barney-s:master

Let me know if i can help any other way.

[2018-08-09 16:38] EamonKeane commented on #10
thanks I'll have a look.

[2018-08-09 16:38] #10 closed

[2018-08-09 18:51] barney-s opened #11 "Work with puckel/docker-airflow docker image"
Currently the env variables injected are specific to this docker image https://github.com/barney-s/docker-airflow

Align it with https://github.com/puckel/docker-airflow and make necessary changes in the operator to make it work with both.

related to https://github.com/GoogleCloudPlatform/airflow-operator/issues/10

[2018-08-11 07:40] EamonKeane commented on #8
I might have time to do this, see my thoughts below... although I'm new to CRDs so bear with me.

What should be the approach - enumerating the sections and values in the `AirflowCluster` spec and storing as env-vars, or copying a file and storing as a configmap, or both?

I think a standalone `airflow.cfg` is the easiest to reason about (and test locally) than having a lot of env variables. The e

[2018-08-14 04:45] crimsonfaith91 opened #12 "Create application CRD"
The Airflow operator requires an application CRD so that details of cluster resources can be displayed via GCP console. I will work on this.

[2018-08-14 04:45] crimsonfaith91 commented on #12
/assign @crimsonfaith91

[2018-08-16 16:51] darrenhaken opened #13 "Advice - handling deployments whilst a DAG is running"
First of all, I am thrilled you're working on this operator! Also, great work on Composer.

I was wondering if anyone was prepared to discuss achieving DAG reliability whilst a component is being deployed on Airflow. As Kubernetes routinely can schedule pods I imagined it requires higher reliability from DAGs.

When using Airflow to say run a Spark job on Dataproc, what would happen to a DAG run i

[2018-08-20 15:01] barney-s commented on #13
By DAG reliability do you mean what happens if i restart pods (mapping to airflow tasks) often.
My understanding is airflow Tasks are meant to be designed to be idempotent (no side effects).
That would take care of unreliable pod scheduling even with celery/worker.

But for cases where you mentioned i would like to loop in a bit more folks to advise.
@liyinan926
@dimberman

[2018-08-20 15:08] darrenhaken commented on #13
@barney-s thanks for the answer. I wasn't sure if the entire DAG failed or simply the task; it looks like its the task.

Any other info im interested in hearing about

[2018-08-31 17:05] dimberman commented on #13
@darrenhaken if the pod running the spark job fails and your using the k8s executor it will report as a failure of the task. It would be difficult to have a pod come back up and somehow recreate task-level state since we don't have access to that task level information.

[2018-09-04 12:05] victornoel opened #14 "Airflow 1.10.0"
Any plan to upgrade to latest airflow that was released not so long ago?

[2018-09-04 15:18] tedmiston commented on #14
I'm curious to know the timeline for 1.10 availability as well.

[2018-09-07 17:31] barney-s commented on #14
On it. Will try to get it in within a week.

[2018-09-14 07:09] hxquangnhat opened #16 "Support Postgres for the operator on Kubernetes"
As currently, the operator only supports MySQL as the database of Airflow, would be great if we can support also Postgres.

[2018-09-14 19:09] hxquangnhat commented on #16
Hi @barney-s, while looking at the code of `AirflowBase`, would it be better if we replace `mysql` with `database` and for this spec we could have `mysql`, `sqlproxy`, `postgres` (like `executor` in `AirflowCluster`)? I think I could have time to work on this. Do you have any suggestions?

[2018-09-15 19:10] barney-s commented on #16
Agreed. Appreciate your efforts on this.

I like calling it database and combining mysql, sqlproxy, postgres underneath.
We need to work in tandem with the docker-airflow https://github.com/barney-s/docker-airflow
to make sure that image works with postgres as well.

Thanks again.

[2018-09-15 19:11] barney-s commented on #16
Let me know if you need any help at all.

[2018-09-21 21:47] hxquangnhat commented on #16
@barney-s I've just opened a PR for this, please have a look at it.
For the docker image, i didn't need to change anything to support Postgres but I encountered a problem when working with this image, I submitted a PR for that as well.

[2018-10-26 09:21] victornoel commented on #14
@barney-s any news on that? thanks :)

[2018-11-05 15:39] raam86 opened #18 "git-sync on airflow does not support SSH authentication"
The current object only supports the username + password authentication method:
https://github.com/GoogleCloudPlatform/airflow-operator/blob/1fbc02dbbaefd70b43f1db5b4a51e3d5ab6cd537/pkg/apis/airflow/v1alpha1/utils.go#L307

in order to fully support git-sync we need to 1. set `GIT_SYNC_SSH` to `true` and map a mounted volume that points to the ConfigMap: https://github.com/kubernetes/git-sync/blob/

[2018-11-16 17:42] pacuna commented on #9
Hi @barney-s , so right now what's the proper way of adding a new dag to the cluster?

[2018-11-20 03:03] barney-s commented on #9
There isnt unfortunately. Thinking restarting the workers would pull the latest. But not a clean solution.

[2018-11-20 10:01] EamonKeane commented on #8
hi @barney-s sorry I haven't found the time, so I've been sticking with just installing via helm. So feel free to close or take it up yourself.

[2018-11-21 13:48] raam86 commented on #18
Yes I do, I already implemented it for the helm/incubator.

[2018-11-29 07:45] barney-s commented on #5
closed via https://github.com/GoogleCloudPlatform/airflow-operator/pull/21

[2018-11-29 07:45] #5 closed

[2018-11-30 17:54] #8 closed

[2018-11-30 17:56] barney-s commented on #8
Inject airflow env's via  `airflowcluster.spec.config.airflow`

[code]

[2018-11-30 18:21] barney-s commented on #9
@pacuna Did the config `dag_dir_list_interval` not help you ?
I believe thats the canonical way airflow supports refreshing DAGs.
https://cwiki.apache.org/confluence/display/AIRFLOW/Scheduler+Basics#Configuration

You can set that config using `cluster.spec.config.airflow`.
Set the env `AIRFLOW__SCHEDULER__ DAG_DIR_LIST_INTERVAL`

By default dags are refreshed every 5 minutes.

To enable continuou

[2018-11-30 18:39] barney-s commented on #18
Thanks.  What did you mean by lifted you setup into helm/charts ?

If you are using both i would love to hear you feedback on helm/charts vs the operator.

[2018-11-30 19:04] barney-s commented on #14
In progress :)
https://github.com/GoogleCloudPlatform/airflow-operator/pull/19/files

Pending changes on https://github.com/barney-s/docker-airflow/pull/2

[2018-11-30 19:53] barney-s commented on #14
done.
https://github.com/GoogleCloudPlatform/airflow-operator/pull/19

[2018-11-30 19:53] #14 closed

[2018-11-30 21:57] barney-s commented on #11
Puckel image does not support MySQL yet.
Once it is in we can refactor refactor and support it.
https://github.com/puckel/docker-airflow/pull/206

[2018-12-01 23:39] #12 closed

[2018-12-01 23:53] barney-s commented on #16
@hxquangnhat  Thanks for the changes. Could you check with the latest operator if postgres works.

[2018-12-03 04:17] hxquangnhat commented on #16
@barney-s sure, i'll check it out

[2018-12-04 18:06] barney-s commented on #18
Ah i see. GCS sync is a side-car. The default value of `.spec.dags.gcs.once` is `false`.
Which helm chart are you using ?

[2018-12-06 21:09] raam86 commented on #18
The one that just became stable

[2018-12-06 23:24] hxquangnhat commented on #16
@barney-s just checked and it doesn't work, I'll open a new issue then.

[2018-12-06 23:25] hxquangnhat opened #30 "Postgres doesn't work with latest Airflow Operator"
With latest operator, Postgres as database doesn't seem to work anymore.
I can work on this then.

[2018-12-07 22:40] barney-s commented on #30
Appreciate the offer. Thanks. Let me know if you need help.

[2018-12-14 08:00] barney-s opened #31 "KubernetesExecutor broken with Airflow 1.10.1 + Airflow operator"
@dimberman

Open Issues:

1. In 1.10.1 release of Airflow, the AirflowExecutor hardcodes the dag source to /tmp/dags for gitsync. With latest master hardcoding is removed. But latest master is not stable.
2. Airflow operator does not create/set the configmap for k8sexecutor config section.

[2018-12-15 20:33] barney-s commented on #30
@hxquangnhat Would you be able to verify with latest. I have added a potential fix.

[2018-12-17 11:56] chris-vest opened #38 "Quickstart Guide references files which do not exist"
`docs/quickstart.md` references files under `manifests` dir, which does not exist.

Either:
1) Tell me which files are the ones which are referenced in the quickstart guide but no longer exist under those names, then I am happy to update docs to point to correct files.
2) Update `docs/quickstart.md` to point to correct location

[2018-12-17 18:48] barney-s commented on #38
thanks for this issue. It is out of date. will update.
Its a little more involved than pointing to the right dir. will verify the steps and update.

[2018-12-18 03:45] #38 closed

[2018-12-18 03:47] barney-s commented on #38
Fixed. Please retest.
@chris-vest

[2018-12-18 17:03] chris-vest opened #40 "Clarify docs/api.md regarding field CredSecretRef"
Attempting to set up `git-sync` to use a username and OAuth token, but cannot seem to figure out how to use the `CredSecretRef` field - can we clarify the docs, perhaps providing an example?

I have tried to set the field using the  `UID` / `selfLink` to the secret containing the token / password, however am getting the following error:

```spec.dags.git.cred in body must be of type object: "strin

[2018-12-18 20:47] barney-s commented on #40
Tje CredSecretRef needs to be used like this
[code]

The secret needs to have the git password in `password` field.

The `.git.repo`, `.git.user` and  `.git.cred.name` secret's `password` are used to setup git creds using `git credential approve` and `url=%v\nusername=%v\npassword=%v\n`

[2018-12-19 14:54] chris-vest commented on #40
This works perfectly, thanks very much!

[2018-12-23 09:12] #40 closed

[2019-01-05 22:06] EronWright opened #42 "README refers to Google internal site"
Under "Get Started", the "One Click Deployment" link points to "pantheon.corp.google.com".

[2019-01-09 02:14] feng-tao opened #43 "airflow operator question"
Hi @barney-s ,

We(Lyft) are exploring running airflow on k8s internally. I wonder whether google has run this repo in production. Any hiccups encounter so far?

Thanks,
-Tao

[2019-01-10 21:56] #42 closed

[2019-01-10 21:57] barney-s commented on #42
Thanks for the bug. fixed it.

[2019-01-10 22:02] barney-s commented on #43
This would be perfect for managing airflow on k8s especially across teams.
In google composer team evaluated this internally.  They had already built a hand rolled solution using google cloud DM.

Hiccups:
1.10 support for k8s executor is still in progress.
@dimberman and me were planning to fix it.

Would be glad to support you in your evaluation.

[2019-01-22 14:08] jcunhasilva opened #44 "GIT authentication is not working during cluster setup"
I created the following cluster using the airflow operator deployed directly from Google Cloud Marketplace:
[code]

Once the cluster is up and running, I get the following error in the git-sync side container:
`Cloning into '/git'...\nfatal: could not read Username for 'https://github.com': No such device or address\n"`

So it seems the container is struggling with GIT authentication. When inspect

[2019-01-22 15:08] jcunhasilva commented on #44
It seems that this problem is already fixed in the master branch:
https://github.com/GoogleCloudPlatform/airflow-operator/commit/891e94f0a6dd94d7d837f2ada746d9febf02c769

Is it possible to update the Google Cloud version with this fix?
I deployed directly from here:
https://console.cloud.google.com/kubernetes/application

[2019-01-24 20:00] barney-s commented on #44
Will work on updating the cloud marketplace.
Are you able to work with the latest master for now ?

[2019-01-25 10:21] jcunhasilva commented on #44
Hi @barney-s
Yes I was able to deploy it manually using the master branch.

However I was forced to use the mysql spec configurations because both the Postgres and CloudSQL specs are not working.

If I use the CloudSQL spec I get this error when the database connection is starting:
`raise Exception("Global variable explicit_defaults_for_timestamp needs to be on (1) for mysql"`
We don't have any wa

[2019-01-25 16:41] jcunhasilva commented on #31
@barney-s is there any updates on this issue?

I tried using the KubernetesExecutor but I'm getting git authentication issues in the worker pods.
The worker pod has an init container to clone the git repo but the authentication details are missing:
[code]

I tried looking at the code and see where this is defined but I can't seem to find it.

[2019-01-25 19:37] dimberman commented on #31
@barni a lot of the issues got solved in 1.10.2. would probably be easier
just upgrade the version

On Fri, Jan 25, 2019, 11:29 AM barney-s <notifications@github.com> wrote:

[2019-01-27 09:07] barney-s commented on #30
I have added e2e tests. And the postgres test fails since the postgres pod fails with this message.
Would you be able to debug this ?

[code]

[2019-01-27 17:50] jcunhasilva commented on #30
@barney-s this flag ("explicit_defaults_for_timestamp") only works on MySQL. Actually this is also happening when we use the "CloudSQL" setup.

[2019-01-27 18:04] jcunhasilva opened #46 "Infinite restart loop when Airflow authentication is activated"
I tried setting Airflow authentication using the config field in the cluster:
[code]

The env variables work properly as the login screen is displayed when we enter the Airflow UI. However, both the ui and scheduler are being killed and restarted every 2 minutes. It seems that the controller thinks they are in an inconsistent state and forces the restart.

When I inspect the controller logs I don'

[2019-01-27 18:19] jcunhasilva commented on #46
Probably the Airflow docker image being used is not ready to use Authentication because when I try to add a user to Airflow using the Python console (as described here: https://airflow.apache.org/security.html?highlight=authentication) I get the following MySQL error:
[code]

[2019-01-27 22:08] barney-s commented on #46
working on bumping the default version to 1.10.2
Will recheck with that version

[2019-01-27 22:33] #30 closed

[2019-01-28 01:08] barney-s commented on #30
@jcunhasilva  thanks that pointer helped. fixed postgres. looking at cloudsql.

[2019-01-28 04:20] barney-s opened #48 "airflow 1.10+ broken with cloudsql(mysql) explicit_defaults_for_timestamp=off"
Since 1.10.0, Airflow requires MySQL to have explicit_defaults_for_timestamp flag set to ON.
CloudSQL can only support MySQL with explicit_defaults_for_timestamp=OFF for now.

[2019-01-28 04:31] barney-s commented on #2
Tests added:
[code]

[2019-01-28 06:33] barney-s commented on #31
The main line is upgraded to 1.10.2
https://github.com/GoogleCloudPlatform/airflow-operator/pull/50

[2019-01-28 06:43] barney-s commented on #44
Thanks @jcunhasilva
The postgres issue is fixed (https://github.com/GoogleCloudPlatform/airflow-operator/issues/30)
CloudSQL issue is tricky. I have opened a bug to track it: https://github.com/GoogleCloudPlatform/airflow-operator/issues/48

[2019-01-28 06:44] barney-s commented on #44
Feel free to close this issue since the original issue is closed in mainline. If you want to leave it open for tracking cloud marketplace availability let me know, i will label it appropriately.

[2019-01-28 06:55] barney-s commented on #46
@jcunhasilva  Seems to be fixed with latest https://github.com/GoogleCloudPlatform/airflow-operator/pull/50

I tried with the latest mysql local sample:
[code]

kubectl get pods
[code]

Could you please verify with the latest.

[2019-01-28 07:37] barney-s commented on #46
I observe continuous statefulset updates which cause pod recreates.
Investigating further i found that the statefulset template is being updated across reconcile loops even though semantically  there is no change.

The change was in the order of the ENV variables for container. This is being registered as a change in the pod template and the statefulset triggers an update.

[2019-01-28 07:41] #46 closed

[2019-01-28 07:44] #44 closed

[2019-01-28 10:44] jcunhasilva commented on #46
@barney-s thank you very much I got this working with authentication on my cluster as well.
When step closer to have this working in production!

[2019-01-28 18:09] #31 closed

[2019-01-28 18:10] barney-s commented on #31
@dimberman thanks. used the GIT_DAGS_FOLDER_MOUNT_POINT config and matched the GIT_SYNC_DEST to fix this.

@jcunhasilva This is fixed FYI

[2019-01-28 19:19] barney-s commented on #2
https://github.com/GoogleCloudPlatform/airflow-operator/pull/55

Tests added:
[code]

[2019-01-29 02:22] barney-s opened #56 "Add support for cloudsql with postgres"
Currently we only support cloudsql(mysql) and the support is broken: https://github.com/GoogleCloudPlatform/airflow-operator/issues/48

Add support for CloudSQL (postgres).

Work involved:
1. Add a field in cluster to determine cloudsql-postgres or mysql
2. Use the flag the determine which DB create container we need to add: https://github.com/GoogleCloudPlatform/airflow-operator/blob/master/pkg/a

[2019-01-29 02:22] barney-s commented on #56
related to #48

[2019-01-29 11:17] jcunhasilva opened #57 "Add support for SQL Proxy connections in our workers"
Currently if we want to connect to a Cloud SQL database in our workers/dags, we need to create a connection using the database's Public or Private IP.
The best way to connect to these databases is through SQL Proxy side containers as described here:
https://cloud.google.com/sql/docs/postgres/connect-kubernetes-engine

We should have a way of specifying predefined sql proxy connections to be attach

[2019-01-29 15:37] barney-s commented on #57
Is the cloudsql different from the DB specified in airflowBase ?
Like if you use airflowBase with cloudsql (which is not functional at this point), all workers (celery based) connect to this instance to report back task status.
If it is the same cloudsql instance, you could use the same sqlproxy that the worker uses.
SqlProxy is deployed as part of the base cluster.

Or are you asking for a genera

[2019-01-29 15:52] jcunhasilva commented on #57
Yes that was my first approach (use the same sql proxy as the one being used in AirflowBase) but then I stumbled upon the Cloud SQL issue and couldn't test it further.

However, the base configuration specifies the instance that will hold the Airflow database, which in our case it's not the same instance where we want to fetch data inside our DAGs. In this case we need a different side-car for our

[2019-01-30 03:40] #56 closed

[2019-01-30 03:41] barney-s commented on #57
FYI i have added a fix for cloudsql with https://github.com/GoogleCloudPlatform/airflow-operator/issues/56

Please note when setting up cloudsql ensure the default username is postgres and password is added to the secret in the samples folder.

[2019-01-30 04:21] barney-s commented on #2
https://github.com/GoogleCloudPlatform/airflow-operator/pull/59

adds
It(“should create airflow-cluster components using mysql base and celery executor with DAGs in GCS bucket”)

[2019-01-30 14:05] jcunhasilva commented on #57
@barney-s since CloudSQL is now working with Postgres, I was able to create a new Airflow database inside our existing instance and use the same SQL Proxy to connect to several databases. I guess this ticket can be closed.

Thank you for your help!

[2019-01-30 15:54] jcunhasilva opened #60 "Support for secrets in the spec.config.airflow field"
Environment variables are passed to our airflow containers using the "airflow" field:
[code]
In this case we are defining the fernet key which is sensitive information. We should be able to use secrets in this field.

We have this block in airflow.go:
[code]

Maybe we can have a separate field ("airflowSecrets") to inject secret values:
[code]

[2019-01-30 18:01] barney-s commented on #57
Thanks for confirming. The bigger pattern is injecting sidecars in workers which is still open will capture in a separate doc.

[2019-01-30 18:01] #57 closed

[2019-01-30 18:12] barney-s commented on #60
Is there list of config entries that need a secret ?
Trying to enumerate them.

[2019-01-30 18:13] barney-s commented on #48
Update:
Google Composer patched airflow to work around this issue. Will wait for that to be open-sourced in airflow.

[2019-01-30 18:20] jcunhasilva commented on #60
As far as I know we have these ones:
AIRFLOW__CORE__FERNET_KEY
AIRFLOW__WEBSERVER__SECRET_KEY
AIRFLOW__SMTP__SMTP_PASSWORD

[2019-01-30 18:31] barney-s commented on #60
I can make the change. But verification is a different beast.
But if you have done something please do feel free to submit and i can review.

[2019-01-30 18:48] jcunhasilva commented on #60
I prefer the first one since it gives us more flexibility (we can even inject additional env variables to be used in our dags).
But how do you reference the secret field that holds the password? How about this structure:
[code]

[2019-01-30 19:10] #60 closed

[2019-01-30 20:35] barney-s commented on #2
https://github.com/GoogleCloudPlatform/airflow-operator/pull/62

adds
It(“should support scaling for workers”)

[2019-01-30 20:35] #2 closed

[2019-01-31 11:59] jcunhasilva commented on #60
@barney-s I'm testing this issue with this configuration:
[code]

When the scheduler get's deployed it throws an error initializing the pod because it has a empty secret:
[code]

I'm trying to debug the code but I guess it's related with the spec deep copy in zz_generated_deepcopy.go:
[code]

[2019-01-31 12:16] jcunhasilva commented on #60
Please ignore my previous comment. My cluster spec was not correct:
[code]

[2019-02-01 05:31] barney-s commented on #60
let me know once you feel comfortable with the latest code. I can start the process of pushing it to the marketplace. If there are any missing features it would make sense to address them first.

[2019-02-01 11:02] jcunhasilva opened #65 "Airflow Operator + Postgres Cloud SQL - Airflow UI pod won't restart after it is killed"
After we start the Airflow Operator with the base and cluster configurations, using the Postgres Cloud SQL Configuration, an error is thrown in the "postgres-dbcreate" init container whenever the Airflow UI pod is restarted:
`Database already exists`

This container needs to check if the database already exists before creating the database and tables.

[2019-02-01 16:48] barney-s commented on #65
Thanks for the fix.

[2019-02-01 16:48] #65 closed

[2019-02-06 16:49] hxquangnhat opened #68 "Unit tests return errors"
When I run `make test`, I got the following errors:
`E0206 17:47:07.034186   87463 genericreconciler.go:50] Failed: [*v1alpha1.AirflowBase/default/foo] observing resources. no matches for kind "Application" in version "app.k8s.io/v1beta1"`

Does anyone have any idea on this error?

[2019-02-06 16:49] hxquangnhat opened #69 "RabbitMQ/Memorystore support"
Do we have plan to support rabbitMQ or memoryStore in near future?

[2019-02-06 17:50] barney-s commented on #68
try `make install` and then `make test`

[2019-02-06 17:50] barney-s commented on #68
if the works let me know.

[2019-02-06 17:51] barney-s commented on #69
We are open to supporting it. But is RabbitMQ and important broker ?

[2019-02-07 09:29] hxquangnhat commented on #68
I was running `make install` before `make test`.
I rerun again with the latest branch on a fresh gke cluster (1.10.11-gke.1) and the errors were still persisted.

The full error:

E0207 10:00:16.029982   95386 genericreconciler.go:50] Failed: [*v1alpha1.AirflowBase/default/foo] observing resources. no matches for kind "Application" in version "app.k8s.io/v1beta1"
2019/02/07 10:00:16 *v1alpha1.Airf

[2019-02-07 09:29] hxquangnhat commented on #69
Cool, I can work on this.
Do you have any suggestions?

[2019-02-07 17:45] barney-s commented on #69
1. Do you need to share redis instance across multiple clusters ? Or one per cluster.
2. We can also create memory store dynamically with resource plugin. Did you want to do that vs Creating memory store manually and referring that in the spec.

[2019-02-07 18:07] barney-s commented on #68
I just tried on master and it is working.
Please `cd  pkg/controller/airflowbase` and run `go test` and attach the entire log.

Suspecting timeout due to short time (5s)
Please increase the timeout to larger value and retry (say 150s)

[2019-02-11 10:02] jcunhasilva opened #71 "Kubernetes Executor: worker pods are not executing"
I was testing the fixes made here: https://github.com/GoogleCloudPlatform/airflow-operator/issues/31

Although Git authentication is working now, I am still not able to run our workers using the Kubernetes executor.

When the worker pod is launched no work is done, or at least the scheduler doesn't get any feedback and the UI doesn't display any execution updates regarding the DAG run.

[2019-02-11 10:03] jcunhasilva opened #72 "Local Executor: display worker logs in Stackdriver"
When we run our workers using the Local executor, the worker logs are placed in a local folder (/usr/local/airflow/logs/). It would be nice if we could also see these logs in Stackdriver since they disappear when the scheduler pod is restarted.

[2019-02-11 13:08] hxquangnhat commented on #68
Here the full log with timeout increased for `airflowbase`

[code]

[2019-02-11 13:10] hxquangnhat commented on #69
1. One per cluster should be the case
2. Interesting, i'll take a look on resource plugin. I think currently we also create cloudsql instance manually so it is better to create memorystore manually and support both of them in the future via resource plugin?

[2019-02-11 18:46] barney-s commented on #69
Creating new redis/cloudsql should not be more than a week effort at most. I can try doing one or if you are pressed can point you to how to do it.

In anycase supporting existing redis is a good idea. Lets knock that out first.

[2019-02-11 18:49] barney-s commented on #71
Since i dont know what DAGs you are running can you try this ?

Set these to false:
https://github.com/GoogleCloudPlatform/airflow-operator/blob/master/templates/airflow-configmap.yaml#L172
https://github.com/GoogleCloudPlatform/airflow-operator/blob/master/pkg/apis/airflow/v1alpha1/airflow.go#L194

Try running again and look at the logs from the worker pods.

[2019-02-11 20:49] barney-s commented on #72
@dimberman how do we redirect the logs to stdout instead of usr/local/logs ?

[2019-02-11 22:59] barney-s commented on #68
[code]

Try this patch and test again please ?

[2019-02-12 10:59] jcunhasilva commented on #71
@barney-s we still have the git authentication issue initialising the worker pods. Git credentials are not available:
[code]

[2019-02-12 12:05] hxquangnhat commented on #68
I still got the same error ..

[2019-02-12 12:06] hxquangnhat commented on #69
Okay, i'll work on supporting the existing redis

[2019-02-12 20:07] barney-s commented on #71
Sent a patch. Could you please test if it works ?

[2019-02-12 20:09] barney-s commented on #71
Potential fix here: https://github.com/barney-s/airflow-operator/commit/5bc91cc37f01cdc4367de4984418e2b63ca49c80

Would you be able to verify/use this ?

[2019-02-19 10:49] hxquangnhat commented on #68
I think I found out the reason: I was using kubebuilder version `1.0.0`, I tried to upgrade to latest `1.0.8` but got error: `timeout waiting for process kube-apiserver to start kubebuilder`, then downgraded to `1.0.7` and the tests passed.

We can close this issue, thanks.

[2019-02-19 10:49] #68 closed

[2019-02-19 20:43] hxquangnhat commented on #69
I can start working on the resource plugin then, i made some searches on this and got something on "device plugin" only, would this the one you mentioned? otherwise can you point me to the correct source?

[2019-02-20 06:34] barney-s commented on #69
We need to use the redis resource manager.
Feel free to update the resource manager code as well.

## Resource manager
I was referring to the [kubesdk/resource managers](https://github.com/GoogleCloudPlatform/airflow-operator/tree/master/vendor/sigs.k8s.io/kubesdk/pkg/resource/manager)

## Usage (given only for illustration)
Example for creating resource managers in the `newReconciler()`
[code]

U

[2019-02-25 22:31] dmateusp commented on #18
hi there, since this is the first Google result when looking for SSH auth for git-sync on Airflow just wanted to let you know I've been working on adding this to the Airflow project:

https://issues.apache.org/jira/browse/AIRFLOW-3918
https://github.com/apache/airflow/pull/4777

[2019-03-06 18:37] hxquangnhat commented on #69
Thanks for all the advices and reviews, closing it.

[2019-03-06 18:37] #69 closed

[2019-03-17 02:07] jie8357IOII commented on #72
@barney-s  How about side-car?
Build a fluentd sidecar to monitor all files under /usr/local/logs/

[2019-04-25 03:30] max-sixty commented on #72
Should we adjust the airflow logging to also log to stdout?

I'm not sure about this, and python logging configs combined with airflow configs is not the easiest duo.
But currently [`airflow.task` has propagate=False](https://github.com/apache/airflow/blob/master/airflow/config_templates/airflow_local_settings.py#L96-L99) in the default configs, and only links to a file handler.

If we change that

[2019-04-25 03:49] max-sixty commented on #72
One puzzle was why logs go to stdout with `airflow run` or `airflow test`, but not when run by a worker. I think that's because of https://sourcegraph.com/github.com/apache/airflow@1c43cde/-/blob/airflow/bin/cli.py#L675 and https://sourcegraph.com/github.com/apache/airflow@1c43cde/-/blob/airflow/bin/cli.py#L520

[2019-04-25 15:21] max-sixty commented on #72
Update: this didn't seem to work. Code is here if anyone has ideas: https://github.com/SixtyCapital/infrastructure/blob/374b8334a0252d46ca7622610948d49d33a4f28e/docker/airflow/airflow_local_settings.py

[2019-05-05 23:47] zifeo opened #80 "GCS & 1.10.2"
Using dag provision through gcs and the latest release continously crash loop.

[code]

Is there anything config specific to bypass this? I've tried setting manually the `dags_volume_host` which does not seem to be passed to the actual pods.

[2019-05-07 15:49] darkmane opened #81 "./hack/sample configurations not working"
Created an image based off of the tip of master and deployed.

Attempted to use PostGre/Celery configuration and MySQL/Celery configuration from the ./hack/sample directories. And the scheduler never successfully started.

Scheduler log showed that it was getting access denied using the account.
Connected to DB and set the password to the value stored in the webui secret and the scheduler started

[2019-05-20 12:59] zx8 opened #82 "Manifest generation doesn't work with Kustomize v2.0+"
Following the instructions in [`quickstart.md`](https://github.com/GoogleCloudPlatform/airflow-operator/blob/6a5ce2f3ec511d2a77ea21d311027afece1417fb/docs/quickstart.md#deploying-airflow-operator-using-manifests)

[code]
Related issue: https://github.com/kubernetes-sigs/kustomize/issues/766

[2019-05-22 03:47] barney-s commented on #81
Let me check and get back.

[2019-05-22 05:26] barney-s commented on #81
Verified and it works. I followed the instructions in quickstart guide which i updated as well.

@darkmane FYI

[2019-05-22 05:27] #82 closed

[2019-05-22 05:31] barney-s commented on #80
Thanks for the PR. Would you elaborate and share the CRs ?

[2019-05-22 21:20] zifeo commented on #80
@barney-s This is more a question than a PR. Is there anything I can add?

[2019-05-31 15:48] jonnydford opened #87 "CloudSQL over private IP address"
Currently CloudSQL appears to only allow connections via SQLProxy.

It would be great for this to be extended to allow connections over a private IP.

I understand this is more complex due to selecting networks, etc., if you're creating the SQL instance via this operator, but personally I'd like to use this with an existing Cloud SQL server.

[2019-06-07 10:04] Pritesh-Patel commented on #80
Running into this problem as well.

[2019-06-07 10:40] Pritesh-Patel commented on #80
@zifeo I got past it by adding config `AIRFLOW__KUBERNETES__DAGS_IN_IMAGE: "True"`

eg:

`
apiVersion: airflow.k8s.io/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow-cluster
spec:
  config:
    airflow:
      AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL: "100"
      AIRFLOW__KUBERNETES__DAGS_IN_IMAGE: "True"
`

This was not the easiest to find might make sense to put it in the k8s executor ex

[2019-06-07 11:58] zifeo commented on #80
@Pritesh-Patel Could you share the full config file (except the bucket name of course)? I have tried the same without success.

[2019-06-07 16:59] cal-pratt opened #88 "Allow dags_in_image option for k8s"
I was trying to run this project using k8s executor and the dags_in_image option

[code]

 However, I was getting errors when trying to run the operator:

[code]

 I believe the issue is caused by doing a hardcoded lookup on the spec values for git https://github.com/GoogleCloudPlatform/airflow-operator/blob/980a1848857ed86eb44a4e61c4c214207dad67be/templates/airflow-configmap.yaml#L174-L180

Not e

[2019-06-07 19:16] Pritesh-Patel commented on #80
@zifeo

[code]

Unfortunately after this I ran into SQL errors and decided to give up on this and use the helm chart. I would preferably like to use this - but i dont have the time to debug the issue. Let me know if you get further!

[2019-06-07 20:39] max-sixty commented on #80
This is somewhat an aside - but if you want an config file which runs Airflow-in-Kubernetes on version 1.10.3 successfully, ours is open source: https://github.com/SixtyCapital/infrastructure/blob/master/docker/airflow/airflow.cfg

Our [Kubernetes setup](https://github.com/SixtyCapital/infrastructure/blob/master/sixtyctl/airflow.yaml) is more basic than this repo, unfortunately; though it works we

[2019-06-08 14:29] zifeo commented on #80
@max-sixty Looks interesting although it does not seem to support the Kubernetes executor?

@Pritesh-Patel Thanks. I will retry soon. I am curious to see whether you managed to run the Kubernetes executor with the helm chart. It seems to be unstable and was the reason we switched to the operator.

[2019-06-08 18:25] max-sixty commented on #80
Yes @zifeo - we would love to use the Kubernetes Executor but haven't found it developed enough to use practically, yet

[2019-06-09 12:44] jonnydford opened #89 "Support existing RabbitMQ Celery Broker"

[2019-06-09 12:51] jonnydford opened #90 "Support multiple worker 'types'"
Add support for multiple worker types. For example, a high memory worker and a 'default' worker.

A couple of ways this could be implemented:
- An option for an AirflowCluster to be worker only, i.e. no flower, ui, scheduler and attach to the same base. Manually set your Redis?
- An AirflowWorker CRD so you can define them multiple times
- A slice of []Workers with AirflowCluster

[2019-06-09 12:52] jonnydford opened #91 "Add Service for Flower"
Flower currently is exposed on 5555 but there's no service to route to it.

[2019-06-09 12:59] jonnydford opened #92 "Add Ingress for UI, Flower"
The UI and Flower don't currently have an Ingress option and you have to port forward to reach them.

Please add Ingress(es) for the UI, and if CeleryExecutor, Flower.

[2019-06-10 08:59] jonnydford opened #93 "Development Docs Update"
`make build` in the docs below doesn't work, as `build` is not in the Makefile.

https://github.com/GoogleCloudPlatform/airflow-operator/blob/master/docs/development.md

[2019-06-19 15:48] jonnydford opened #94 "GCS DAG Sync - Service Account Secret"
Currently, the GCS DAG sync uses the node's service account to connect to the GCS bucket.
The node's SA may not have access to the GCS bucket.

DAG sync should be able to mount a secret containing the SA to use.

[2019-07-08 07:49] mik-laj opened #95 "GoogleCloudPlatform/click-to-deploy vs GoogleCloudPlatform/airflow-operator"
Hello,

I found Airflow operators on two repositories belonging to GoogleCloudPlatform:
https://github.com/GoogleCloudPlatform/click-to-deploy/tree/master/k8s/airflow-operator
https://github.com/GoogleCloudPlatform/airflow-operator
What are the differences between these repositories? Is it worth putting this information in README.md?  For me it is very confusing when there are two operators.

Than

[2019-07-09 10:21] hxquangnhat commented on #95
From what I understand, the airflow-operator on click-to-deploy is just the code/manifest to deploy it on Kubernetes via Google Cloud Platform Market.

The actual developement of the operator is at your second link.

[2019-07-19 10:47] jonnydford opened #96 "PGBouncer support"
PostGres has a lot fewer connections available than MySQL. PGBouncer is a good way to avoid max connections being hit.

An example deployment is available here:
https://github.com/astronomer/helm.astronomer.io/blob/master/charts/airflow/templates/pgbouncer/pgbouncer-deployment.yaml

[2019-07-29 16:45] barney-s commented on #96
Thanks. Will take a look.

[2019-07-29 16:54] barney-s commented on #95
The click-to-deploy is a marketplace solution manifest like @hxquangnhat mentioned.
This is the actual operator.

[2019-07-29 21:16] zifeo commented on #80
@barney-s is there something on the roadmap about this?

[2019-08-13 19:07] exolab opened #97 "Documentation on installation"
Trying to install on a non GCE cluster, I get an error right off the bat:

[code]
If I try with NOTGCP, I get a different error:

[code]

I am probably doing something wrong. I tried installing those packages, but only see this in the corresponding directory:

[code]

Probably user error, but maybe this would benefit from better documentation.

[2019-08-21 11:48] exolab commented on #97
So as a complete go idiot, I found this solution: moving the project to $GOPATH/src/ should do it.

[2019-08-21 11:48] #97 closed

[2019-08-24 06:30] kbbqiu commented on #72
@max-sixty any luck on this? Airflow 1.10.4 has enabled writing to STDOUT via the elasticsearch handler. [Link to Merged PR](https://github.com/apache/airflow/commit/0da976a0e1e28e2c0cd274d7384cf2976db6deec)

Unfortunately, it's an all or nothing :( [Reference to the Logging Module](https://github.com/apache/airflow/blob/master/airflow/utils/log/es_task_handler.py#L216-L222)

The ideal state is fo

[2019-08-24 07:05] max-sixty commented on #72
I haven't tried - interested if you can get it working though!

[2019-08-29 13:38] jonnydford commented on #89
Celery - and Airflow - supports Redis and RabbitMQ as a broker.

http://docs.celeryproject.org/en/latest/getting-started/first-steps-with-celery.html#choosing-a-broker
https://airflow.apache.org/howto/executor/use-celery.html#scaling-out-with-celery

Currently, the airflow-operator only supports Redis as a broker.

[2019-10-01 13:28] vpavlin opened #98 "Incorrect `Kind` in ownerRef"
I am trying to run Airflow Operator on OpenShift 4 and I am hitting an interesting issue:

[code]

I traced the source of this to https://github.com/GoogleCloudPlatform/airflow-operator/blob/master/vendor/sigs.k8s.io/controller-reconciler/pkg/genericreconciler/genericreconciler.go#L219 - i.e. the `Kind` gets set to actual type (`*v1alpha1.AirflowBase`) instead of just `AirflowBase`

I also noticed

[2019-10-10 06:47] barney-s commented on #98
controller-reconciler is a manually vendored project. We are trying to fix that. For now copy that from master into your vendor directory.

[2019-10-10 06:48] barney-s commented on #98
Would you ensure that the CRDs are installed ?
do a kubectl get crd and see if AirflowBase and AirflowCluster are available.

[2019-10-10 08:34] vpavlin commented on #98
Yes, as I mentioned, I found a workaround with disabling `blockOwnerDeletion` and at that point everything got deployed. But it is still broken in a sense that artifacts wouldn't get deleted when I delete the operator

The problem with `controller-reconciler` is that it sets the `Kind` incorrect - see the link that I shared

I am happy to send a PR, but I am not sure what is the good way to fix th

[2019-10-31 18:54] jingwangumg opened #99 "Add Env variable to Container"
How to overwrite airflow config with environment variables?
I tried the following in the AirflowCluster yaml, the the operator did not pick it up.
[code]

[2019-10-31 20:41] jingwangumg commented on #99
nvm, I was using the market place version which does not have the latest docker image. deploy directly from the repo has fixed the problem.

[2019-10-31 20:41] #99 closed

[2019-11-09 05:50] kodelint commented on #1
@barney-s  any update on the user guide?

[2020-01-29 21:36] fishpen0 commented on #11
Could the alternative be to support other databases like postgres in the operator?

[2020-02-17 16:22] gegnew commented on #13
Hi, sorry to necropost a bit here, but I recently had an issue where a redeployment of our Airflow service caused a DAG to hang. A redeployment (via terraform on ECS) occurred during a DAG run, and for some reason that DAG run was never marked as "failed", but was marked as "running" after the redeployment, even though nothing was, in fact, running. Since our DAG was configured without allowing pa

[2020-02-17 17:05] VedantMahabaleshwarkar opened #102 "Quick Start Guide does not work"
The vendors/k8s.io/ directory structure has changed since the guide was written and the Makefile needs to be updated to reflect the change

[2020-03-11 15:42] flgn8668 commented on #96
@jonnydford  looks like the link expired.

[2020-03-12 13:50] jonnydford commented on #96
https://github.com/astronomer/airflow-chart/blob/master/templates/pgbouncer/pgbouncer-deployment.yaml

[2020-05-24 08:05] mik-laj opened #103 "apache/airflow-on-k8s-operator vs GoogleCloudPlatform/airflow-operator"
Hello,

I found Airflow operators on two repositories:
https://github.com/apache/airflow-on-k8s-operator
https://github.com/GoogleCloudPlatform/airflow-operator
What are the differences between these repositories? Is it worth putting this information in README.md? For me it is very confusing.

Thanks

[2020-06-23 00:49] Minyus commented on #103
according to https://github.com/apache/airflow-on-k8s-operator#history

[2021-06-24 04:44] #43 closed